.advantages {
  background-color: #222222;
  height: 355px;
  display: flex;
  justify-content: center;
}

.advantages-core {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-core p {
  color: #f7f7f7;
  font-size: 24px;
  width: 452px;
  margin: 0;
  margin-top: 60px;
  margin-bottom: 57px;
}

.advantages-blocks {
  display: flex;
  justify-content: center;
  gap: 60.78px;
}

.advantages-block {
  width: 265px;
  height: 124px;
}

.advantages-block img {
  margin-bottom: 16px;
}

.advantages-block h6 {
  font-size: 20px;
  color: #f7f7f7;
  font-weight: 400;
  width: 145px;
  margin: 0;
  margin-bottom: 13px;
}

.advantages-block p {
  font-size: 16px;
  color: #f7f7f7;
  width: 265px;
  font-weight: 380;
  margin: 0;
}
