.form-block {
  height: 477px;
  width: 100%;
  background-color: #efefef;
  box-shadow: inset -5px 0 18px 0 #000000d1;
  box-shadow: inset 3px 0 18px 0 #000000d1;
  display: flex;
  justify-content: center;
}

.form-block-core {
  display: flex;
  justify-content: space-between;
}

.form-block-first {
  display: flex;
  flex-direction: column;
  margin-top: 108px;
  margin-bottom: 37px;
  width: 321px;
  height: 126px;
}

.form-block-first h3 {
  margin: 0;
  margin-bottom: 37px;
  color: #222222;
  font-size: 24px;
  font-weight: 640;
}

.form-block-first p {
  margin: 0;
  color: #222222;
  font-size: 14px;
  width: 310px;
  font-weight: 450;
}

.form-block-second {
  display: flex;
  flex-direction: column;
  width: 321px;
  height: 116px;
}

.form-block-second h3 {
  margin: 0;
  margin-bottom: 37px;
  color: #222222;
  font-size: 24px;
  font-weight: 640;
}

.form-block-second p {
  margin: 0;
  color: #222222;
  font-size: 14px;
  width: 310px;
  font-weight: 450;
}

.form-input {
  display: flex;
}

.form-input-core {
  margin-top: 108px;
}

.form-group {
  margin-bottom: 8px;
}

.form-group input {
  border: none;
  padding: 0;
  padding-left: 24px;
  width: 416px;
  height: 50px;
}

.form-twice-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 26px;
}

.form-twice-group input {
  border: none;
  padding: 0;
  padding-left: 24px;
  width: 191px;
  height: 50px;
}

.checkbox-container {
  display: flex;
  margin-bottom: 45px;
  align-items: center;
}

.checkbox-container input {
  width: 25px;
  height: 25px;
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  background-color: #ffffff;
}

.checkbox-container input:checked {
  background-color: #ffffff;
  background-image: url("/imgs/form/tick.svg");
}

.checkbox-container span {
  margin-left: 17px;
  color: #151515;
  font-size: 14px;
}

.submit-btn {
  padding: 0;
  width: 215px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: #222222;
}

.submit-btn div {
  display: flex;
  gap: 64px;
}

.submit-btn div span {
  margin: 0;
  margin-left: 26px;
  color: #ffffff;
  font-size: 14px;
}
