.header {
  z-index: 100;
  position: fixed;
  top: 27px;
  left: 0;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
}

.header-core {
  display: flex;
  justify-content: space-between;
  height: 64px;
  background-color: #3a3937;
  width: 85vw;
  border-radius: 18px;
}

.header-first {
  margin-left: 15px;
  height: 64px;
  display: flex;
  gap: 32px;
  align-items: center;
}

.header-first div {
  display: flex;
  gap: 22px;
}

.header-first div a {
  color: #f8f8f8;
  text-decoration: none;
  font-size: 14px;
}

.header-second {
  margin-right: 15px;
  height: 64px;
  display: flex;
  gap: 32px;
  align-items: center;
}

.header-second div {
  display: flex;
  gap: 22px;
}

.header-second div a {
  color: #f8f8f8;
  text-decoration: none;
  font-size: 14px;
}

.header-second button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: none;
  margin-top: 3px;
}
