.top-nav {
  height: 619px;
  width: 100%;
  background-color: #222222;
  display: flex;
  justify-content: center;
}

.top-nav-core {
  margin-top: 176px;
  display: flex;
  justify-content: space-between;
}

.top-nav-first {
  display: flex;
  flex-direction: column;
  gap: 139.89px;
}

.top-nav-first-texts h3 {
  font-size: 45px;
  margin: 0;
  color: #ffffff;
}

.top-nav-first-texts p {
  font-size: 20px;
  margin: 0;
  margin-top: 2px;
  color: #d4d4d4;
}

.top-nav-get {
  display: flex;
  align-items: center;
  width: 280px;
  height: 58.33px;
  background-color: #ffcc2d;
  border-radius: 25px;
  filter: drop-shadow(1px 4px 6px rgb(255 204 45 / 25%));
}

.top-nav-get p {
  margin: 0;
  margin-left: 29px;
  margin-bottom: 1.5px;
  font-size: 18px;
  color: #000000;
}

.top-nav-get img {
  margin: 0;
  margin-left: 78.17px;
}
